# Import Library and Data

In [2]:
from scipy.io import arff
import pandas as pd
import numpy as np
data = arff.loadarff('U:/Dortmund/Master/ML/breast-w.arff')
df = pd.DataFrame(data[0])

Konvertiert Class-Objekte zur Str UTF-8

In [5]:
df['Class'] = df['Class'].str.decode('utf-8')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Clump_Thickness        699 non-null    float64
 1   Cell_Size_Uniformity   699 non-null    float64
 2   Cell_Shape_Uniformity  699 non-null    float64
 3   Marginal_Adhesion      699 non-null    float64
 4   Single_Epi_Cell_Size   699 non-null    float64
 5   Bare_Nuclei            683 non-null    float64
 6   Bland_Chromatin        699 non-null    float64
 7   Normal_Nucleoli        699 non-null    float64
 8   Mitoses                699 non-null    float64
 9   Class                  699 non-null    object
dtypes: float64(9), object(1)
memory usage: 54.7+ KB

In [7]:
df.head()

,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5.0,1.0,1.0,1.0,2.0,1.0,3.0,1.0,1.0,benign
1,5.0,4.0,4.0,5.0,7.0,10.0,3.0,2.0,1.0,benign
2,3.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,benign
3,6.0,8.0,8.0,1.0,3.0,4.0,3.0,7.0,1.0,benign
4,4.0,1.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,benign

In [8]:
df.describe()

,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses
count,699.000000,699.000000,699.000000,699.000000,699.000000,683.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.544656,3.437768,2.866953,1.589413
std,2.815741,3.051459,2.971913,2.855379,2.214300,3.643857,2.438364,3.053634,1.715078
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

> __min gleicht 1 und max gleicht 10 => Nomalisiert !

## Was ist die Klassenverteilung der beiden Krebsarten (gutartig / bösartig) in den Daten?

In [15]:
df['Class'].value_counts()
print(df['Class'].value_counts())
classes, counts = np.unique(df['Class'], return_counts=True)
print("\nKlassen:", classes, "Beobachtungen:", counts)

benign       458
malignant    241
Name: Class, dtype: int64

Klassen: ['benign' 'malignant'] Beobachtungen: [458 241]

## Gibt es fehlende Werte?

In [12]:
df.isnull()

,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epi_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().values.any()

True

In [13]:
df.isnull().sum()

Clump_Thickness           0
Cell_Size_Uniformity      0
Cell_Shape_Uniformity     0
Marginal_Adhesion         0
Single_Epi_Cell_Size      0
Bare_Nuclei              16
Bland_Chromatin           0
Normal_Nucleoli           0
Mitoses                   0
Class                     0
dtype: int64

### gibt die Summe des NaN in der Datafame zurück

In [14]:
df.isnull().sum().sum()

16